.ListeLR{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border: solid 1px;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
    width: 55em;
    margin-top: 3em;
}


td {
    padding-left: 50px;
    text-align:center;
    padding-bottom: 10px;
}

.td1 {
    text-decoration: underline;
    padding-bottom: 10px;
}

.button{
    display: block;
    margin: auto;
    text-align: center;
	font-size: 20px;
	border-radius: 5px;
    border-style: inset;
    background-color:  rgb(21, 197, 21);
    border-color:  rgb(21, 197, 21);
    color: whitesmoke;
}
.button:hover{
	font-size: 20px;
	border-radius: 5px;
	border-style: groove;
}

.titre{
    border: solid 2px;
}