.details_Livre
{
	vertical-align: top;
	background-color: whitesmoke;
	text-align: right;
	border: 1px groove black;
	border-radius: 30px 5px 30px 5px;	
	
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 80px;

	width: 300px;
	height: 110px;
	font-size: 17px;

	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
	padding-top: 25px;

	line-height: 35px;

	
}

.align{
	display: flex;
	justify-content: center;

}

a{
	text-decoration: none;
	color: black;	
}

img {
	float: left;
	width: 110px;
	height: 161px;
	
}

