form{
	text-align: center;
}

.button{
    text-align: center;
	font-size: 15px;
	border-radius: 5px;
	border-style: groove;
	margin-left: 5px;
	line-height: 30px;
}

.button:hover{

	border-style: inset;
}

.input{
	border: none;
	border-bottom: 1px groove;
	font-size: 15px;
	background-color: #D4D3D3;
}